:root {
    --bg-color: rgba(150, 150, 150, 1);
  
    /* Square Colors:  background colors for the squares.*/
    --color-0: #eaeaea;
    --color-1: lightblue;
    --color-2: #22229a;
    --color-3: black;
  
    /* Numbers define values that will be used throughout the CSS.
    --tile-size: 20px for example will set size of the grid squares. */
    --cols: 20;
    --rows: 20;
    --tile-size: 40px;
    --border-width: 5px;

}

/* Colors */
.color-start {
    background-color: var(--color-0);
}
  
.color-unvisited {
    background-color: var(--color-1);
}
  
.color-target {
    background-color: var(--color-2);
}

.color-visited {
    background-color: var(--color-3)
}
  
/* Grid Cell */
.grid-cell {
    border-style: solid;
    width: var(--tile-size);
    height: var(--tile-size);
    border-width: var(--border-width);
}


/* Legacy Code
.GridCell {
    position: relative;
    margin: 0 auto;
    background-color:
        lightblue;
    background-image:
        linear-gradient(white, transparent 1px),
        linear-gradient(90deg, white 1px, transparent 1px);
}
*/